body{
	background-color: #F3DBD9;
	font-family: serif;
	text-align: center;
}

button{
	font-size: 20px;
	cursor: pointer;
}

ul {
	list-style-type: none;
	padding: 0;
}

li{
	margin-bottom: 10px;
}

#progressBarDiv{
	width: 100%;
	background-color: #e0d7de;
}

#progressBar{
	width: 0%;
	height: 30px;
	background-color: #2BD97C;
	text-align: center;
  	line-height: 30px;
  	color: white; 
}

#questionBtns button {
	background-color: white;
  	border: none;
  	color: black;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 10px;
}

#questionBtns button:hover {
	background-color: #d1c8c7;
}